<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="false"
                     targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <!--
        <httpHandlers>
            <add verb="GET"
                 path="BarcodeHandler.ashx"
                 type="LoyaltyCard.App_Code.BarcodeHandler, App_Code"/>
        </httpHandlers>
        -->
    </system.web>
    <system.webServer>
        <handlers>
            <add name="BarcodeHandler"
                 verb="GET"
                 path="BarcodeHandler.ashx"
                 type="LoyaltyCard.App_Code.BarcodeHandler, App_Code" />
        </handlers>
    </system.webServer>
</configuration>
